@{
    ViewData["Title"] = "Dashboard Pegawai";
}

<h2>Selamat datang, @ViewBag.Nama!</h2>
<p>Ini adalah halaman khusus pegawai.</p>
<a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
